<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Haroldo Marcenaria</h6>
        <p>Serviços de alta qualidade.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Serviços</h6>
        <p>
          <a href="#!">Instalação e manutenção de divisórias</a>
        </p>
        <p>
          <a href="#!">Móveis Planejados</a>
        </p>
        <p>
          <a href="#!">Marcenaria em geral</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">


      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
        <!-- <p>
             <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p> -->
        <p>
          <a href="mailto:haroldo@gmail.com;subject=Site%20Email%20Marcenaria" target="_blank">
            <i class="fas fa-envelope mr-3"></i>haroldo@gmail.com</a></p>
        <p>
          <a href="tel:34991547219" target="_blank">
            <i class="fas fa-phone mr-3"></i>(34) 99154-7219</a>
        </p>
        <p>
          <a href="https://wa.me/5534991548219" target="_blank">
            <i class="fab fa-whatsapp mr-3"></i>(34) 99154-7219</a>
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-12">

        <!--Copyright-->
        <p class="text-center text-md-center">© 2018 Copyright:
          <a href="http://odati.site">
            <strong> ODATI</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
