<main>
  <div class="container">

    <!--Section: Main info-->
    <section class="mt-5 wow fadeIn">

      <!--Grid row-->
      <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <img src="./assets/principal-sobre.jpg" class="img-fluid z-depth-1-half" alt="">
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <!-- Main heading -->
            <h3 class="h3 mb-3">Sobre Nós</h3>
            <p class="text-justify">Localizada em Araxá-MG, a Haroldo Marcenaria tem atuando há mais de 30 anos com qualidade e excelência na
            Instalação e personalização e manutenção de divisórias,
            fabricação e instalação de móveis planejados sob medida, e marcenaria em geral.
            Nossos principais objetivos são a satisfação do cliente, qualidade, beleza, resistência, ótimo acabamento, pontualidade na entrega.</p>
            <p>Nossa missão é fazer de nossos serviços e produtos sinônimos de excelência, consolidando assim no mercado de Araxá e região!</p>
            <!-- Main heading -->
  
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="./assets/principal-divisorias.jpg" class="img-fluid z-depth-1-half" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!-- Main heading -->
          <h3 class="h3 mb-3">Divisórias</h3>
          <p>Realização de grandes projetos de divisórias.</p>
          <p>Projetos realizados nas maiores empresas da cidade.</p>
          <p>Qualidade e acabamento.</p>
          <!-- Main heading -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="./assets/principal-moveis-planejados.jpg" class="img-fluid z-depth-1-half" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!-- Main heading -->
          <h3 class="h3 mb-3">Móveis Planejados</h3>
          <p>Closets, Armários.</p>
          <p>Móveis para cozinha.</p>
          <p>Móveis para banheiro.</p>
          <!-- Main heading -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="./assets/principal-marcenaria-geral.jpg" class="img-fluid z-depth-1-half" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!-- Main heading -->
          <h3 class="h3 mb-3">Marcenaria em Geral</h3>
          <p>Consertos.</p>
          <p>Envernização, acabamento</p>
          <p>Personalização</p>
          <!-- Main heading -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Main info-->

    <hr class="my-5">
  </div>
</main>
