<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"><span class="font-weight-bold">Haroldo Marcenaria</span></a></mdb-navbar-brand>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons ml-auto">
          <li class="nav-item">
            <a href="mailto:haroldo@gmail.com;subject=Site%20Email%20Marcenaria" class="nav-link" target="_blank">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://wa.me/5534991548219" target="_blank" class="nav-link border border-light rounded"
              target="_blank">
              <i class="fab fa-whatsapp mr-2"></i>(34) 99154-7219
            </a>
          </li>
        </ul>

      </div>
</mdb-navbar>